*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/Montserrat-ExtraBold.ttf) format("ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #B6B752;
}

._container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

._scrollup {
  width: 60px;
  height: 60px;
  opacity: 0.3;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  text-indent: -9999px;
  background: url("/img/icons/icon_top.png") no-repeat;
}
@media (max-width: 576px) {
  ._scrollup {
    bottom: 5px;
    right: 5px;
  }
}
._scrollup:hover {
  opacity: 0.6;
}
._scrollup:focus {
  opacity: 1;
}

.header {
  background-color: #31004A;
}

.header__container {
  min-height: 400px;
  position: relative;
}
@media (max-width: 1280px) {
  .header__container {
    min-height: 280px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    min-height: 270px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    min-height: 210px;
  }
}
@media (max-width: 480px) {
  .header__container {
    min-height: 100px;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 10px 0;
}
@media (max-width: 1280px) {
  .header__content {
    padding: 20px 0 10px 0;
  }
}
@media (max-width: 1024px) {
  .header__content {
    padding: 20px 0 10px 0;
  }
}
@media (max-width: 576px) {
  .header__content {
    padding: 10px 0 10px 0;
  }
}

.header__text-content {
  position: relative;
  margin: 0 0 0 117px;
  padding: 0 10px 0 0;
}
@media (max-width: 1280px) {
  .header__text-content {
    margin: 0 0 0 70px;
  }
}
@media (max-width: 1024px) {
  .header__text-content {
    margin: 0 0 0 40px;
    padding: 0 20px 0 0;
  }
}
@media (max-width: 768px) {
  .header__text-content {
    margin: 0 0 0 20px;
    padding: 0 20px 0 0;
  }
}
@media (max-width: 576px) {
  .header__text-content {
    margin: 0 0 0 10px;
    padding: 0 20px 0 0;
  }
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: #B5B72E;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .header__title {
    font-size: 48px;
  }
}
@media (max-width: 1024px) {
  .header__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .header__title {
    font-size: 18px;
  }
}

.header__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  color: #B5B72E;
  margin: 10px 0 0 128px;
}
@media (max-width: 1280px) {
  .header__subtitle {
    font-size: 24px;
    margin: 5px 0 0 70px;
  }
}
@media (max-width: 1024px) {
  .header__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .header__subtitle {
    font-size: 20px;
    margin: 10px 0 0 40px;
  }
}
@media (max-width: 480px) {
  .header__subtitle {
    font-size: 16px;
  }
}

.header__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #B5B72E;
  max-width: 450px;
  margin: 92px 0 0 128px;
}
@media (max-width: 1280px) {
  .header__text {
    font-size: 16px;
    margin: 70px 0 0 90px;
  }
}
@media (max-width: 1024px) {
  .header__text {
    font-size: 16px;
    max-width: 350px;
    margin: 50px 0 0 90px;
  }
}
@media (max-width: 768px) {
  .header__text {
    font-size: 14px;
    margin: 30px 0 0 90px;
  }
}
@media (max-width: 576px) {
  .header__text {
    margin: 30px 0 0 40px;
  }
}
@media (max-width: 480px) {
  .header__text {
    font-size: 12px;
    margin: 20px 0 0 40px;
  }
}

.header__img-content {
  margin: 0 105px 0 0;
}
@media (max-width: 1280px) {
  .header__img-content {
    margin: 0 80px 0 0;
  }
}
@media (max-width: 1024px) {
  .header__img-content {
    margin: 0 60px 0 0;
  }
}
@media (max-width: 768px) {
  .header__img-content {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 576px) {
  .header__img-content {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 480px) {
  .header__img-content {
    display: none;
  }
}

.header__main-img {
  max-width: 240px;
}
@media (max-width: 1280px) {
  .header__main-img {
    max-width: 180px;
  }
}
@media (max-width: 1024px) {
  .header__main-img {
    max-width: 170px;
  }
}
@media (max-width: 768px) {
  .header__main-img {
    max-width: 120px;
  }
}

.header__decor-img-1 {
  position: absolute;
  max-width: 200px;
  left: 50px;
  bottom: 20px;
}
@media (max-width: 1280px) {
  .header__decor-img-1 {
    max-width: 100px;
    bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .header__decor-img-1 {
    max-width: 80px;
    bottom: 30px;
  }
}
@media (max-width: 768px) {
  .header__decor-img-1 {
    max-width: 60px;
    left: 30px;
    bottom: 30px;
  }
}
@media (max-width: 576px) {
  .header__decor-img-1 {
    max-width: 40px;
    left: 10px;
    bottom: 70px;
  }
}
@media (max-width: 480px) {
  .header__decor-img-1 {
    max-width: 40px;
    left: 10px;
    bottom: 10px;
  }
}

.header__decor-img-2 {
  position: absolute;
  max-width: 147px;
  top: -90px;
  right: -180px;
}
@media (max-width: 1280px) {
  .header__decor-img-2 {
    max-width: 120px;
    right: -100px;
  }
}
@media (max-width: 1024px) {
  .header__decor-img-2 {
    max-width: 80px;
    right: -20px;
  }
}
@media (max-width: 768px) {
  .header__decor-img-2 {
    max-width: 60px;
    top: -60px;
    right: 0px;
  }
}
@media (max-width: 480px) {
  .header__decor-img-2 {
    max-width: 50px;
  }
}

.content-list {
  text-align: center;
}

.content-list__title-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #31004A;
  display: inline-block;
  margin: 0 0 15px 0;
  cursor: pointer;
  position: relative;
}
.content-list__title-link::marker {
  display: none;
}
.content-list__title-link:before {
  left: -20px;
  top: 3px;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50%/1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.content-list__details[open] > .content-list__title-link:before {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.content-list__title-link ~ * {
  padding: 0 1em 0 1em;
}
.content-list__details[open] .content-list__title-link ~ * {
  -webkit-animation: sweep 0.5s ease-in-out;
          animation: sweep 0.5s ease-in-out;
}
@-webkit-keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.content-list__title-link:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.content-list__title-link .content-list__details {
  display: block;
  margin-bottom: 0.5rem;
}

.content-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B6B752;
  padding: 10px 0;
}

.content-list__list {
  padding: 0 10px;
}

.content-list__item:not(:last-child) {
  margin: 0 0 7px 0;
}

.content-list__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.33;
  color: #31004A;
  display: inline-block;
}
.content-list__link:after {
  background-color: #290E37;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.content-list__link:hover:after, .content-list__link:focus:after {
  width: 100%;
}

.content-list__decor-img_1 {
  margin: 10px 80px 0 80px;
  width: 100px;
  height: auto;
  max-height: 100px;
}

.main-menu {
  background-color: #6D6F00;
}

.main-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}
.main-menu__items:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 1024px) {
  .main-menu__items {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .main-menu__items {
    padding: 10px 0;
  }
}
@media (max-width: 576px) {
  .main-menu__items {
    display: none;
    padding: 0;
  }
}

.main-menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}
@media (max-width: 576px) {
  .main-menu__item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.main-menu__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #31004A;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .main-menu__link {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main-menu__link {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .main-menu__link {
    font-size: 16px;
  }
}

.main-menu__link:after {
  background-color: #290E37;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.main-menu__link:hover:after,
.main-menu__link:focus:after {
  width: 100%;
}

.main-menu__container_lowdef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media (max-width: 576px) {
  .main-menu__container_lowdef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu__link-wrap_lowdef {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 5px 0;
}
.main-menu__link-wrap_lowdef:before {
  background-color: #290E37;
  display: block;
  content: "";
  height: 5px;
  width: 0;
  border-radius: 5px;
  margin: 0 10px 0 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.main-menu__link-wrap_lowdef:after {
  background-color: #290E37;
  display: block;
  content: "";
  height: 5px;
  width: 0;
  border-radius: 5px;
  margin: 0 0 0 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.main-menu__link-wrap_lowdef:hover:before, .main-menu__link-wrap_lowdef:focus:before {
  width: 5px;
}
.main-menu__link-wrap_lowdef:hover:after, .main-menu__link-wrap_lowdef:focus:after {
  width: 5px;
}

.main-menu__link_lowdef {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #31004A;
  text-transform: uppercase;
}

.main-menu__link-img_lowdef {
  max-width: 20px;
  margin: 0 10px 0 0;
}

@media (max-width: 576px) {
  .main-menu__list-wrap_lowdef {
    display: none;
  }
}

.main-menu__list_lowdef {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page__container {
  padding: 0 0 30px 0;
}

.resume__preview-title-img-wrapper {
  margin: 10px 0 0 0;
  text-align: center;
}

.resume__preview-title-img {
  max-width: 200px;
}

.resume__preview {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.333;
  color: #290E37;
  padding: 10px 40px 20px 40px;
}

.resume__preview-link {
  text-decoration: underline;
  color: #7B29A4;
}
.resume__preview-link:hover, .resume__preview-link:focus {
  color: #6D6F00;
}

.resume__title-container {
  text-align: center;
}

.resume__title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #290E37;
  margin: 20px 0 30px 0;
  padding: 0 0 5px 0;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
     border-image: -webkit-gradient(linear, left top, right top, from(#864AA4), color-stop(#290E37), to(#864AA4));
     border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
  border-image-slice: 1;
}

.resume-section {
  border-top: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
     border-image: -webkit-gradient(linear, left top, right top, from(#864AA4), color-stop(#290E37), to(#864AA4));
     border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
  border-image-slice: 1;
  margin: 40px 30px 80px 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.resume-section:last-child {
  margin: 40px 30px 30px 30px;
}
@media (max-width: 768px) {
  .resume-section {
    margin: 40px 10px 60px 10px;
  }
  .resume-section:last-child {
    margin: 40px 10px 30px 10px;
  }
}

.resume-section__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #31004A;
  background-color: #B6B752;
  border: 2px solid #290E37;
  border-radius: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  margin: -28px 0 20px 0;
  max-width: 300px;
  z-index: 5;
}

.resume-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.resume-section__item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
}
.resume-section__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.resume-section__item_break-all {
  word-break: break-all;
}

.resume-section__item-field {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.333;
  color: #290E37;
  margin: 0 10px 0 0;
}

.resume-section__content_work-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 576px) {
  .resume-section__content_work-exp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.resume-section__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.resume-section__column:first-child {
  max-width: 200px;
  min-width: 200px;
  padding: 0 20px 0 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .resume-section__column:first-child {
    max-width: 160px;
    min-width: 160px;
  }
}
@media (max-width: 768px) {
  .resume-section__column:first-child {
    max-width: 130px;
    min-width: 130px;
  }
}
@media (max-width: 576px) {
  .resume-section__column:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-width: 100%;
    padding: 0;
  }
}

.resume-section__date {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.333;
  color: #290E37;
}
@media (max-width: 768px) {
  .resume-section__date {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .resume-section__date {
    display: none;
  }
}

.resume-section__date_lowdef {
  display: none;
}
@media (max-width: 576px) {
  .resume-section__date_lowdef {
    display: block;
  }
}

.resume-section__date-img {
  margin: 10px 0 10px 0;
  max-width: 90px;
}

.resume-section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.333;
  color: #290E37;
}

.resume-section__separator {
  margin: 20px 0;
}

.resume-section__project-img {
  float: right;
  clear: left;
  margin: 10px 10px 10px 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #7B29A4;
}
@media (max-width: 1024px) {
  .resume-section__project-img {
    float: none;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 768px) {
  .resume-section__project-img {
    max-width: 250px;
    max-height: 250px;
  }
}

.resume-section__project-link {
  color: #60163E;
  text-decoration: underline;
  font-weight: 500;
}
.resume-section__project-link:hover, .resume-section__project-link:focus {
  color: #7B29A4;
}

.resume-section__about-me {
  text-indent: 35px;
  line-height: 1.5;
}

.resume-section__img_float-right {
  float: right;
  clear: left;
  margin: 20px 10px 10px 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #7B29A4;
}
@media (max-width: 768px) {
  .resume-section__img_float-right {
    float: none;
    display: block;
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 480px) {
  .resume-section__img_float-right {
    max-width: 250px;
    max-height: 250px;
  }
}

.resume-section__img_float-left {
  float: left;
  clear: right;
  margin: 20px 10px 10px 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #7B29A4;
}
@media (max-width: 768px) {
  .resume-section__img_float-left {
    float: none;
    display: block;
    margin: 10px 10px 10px 10px;
  }
}

.guestbook {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
  padding: 10px;
}

.guestbook__form:not(:last-child) {
  text-align: center;
}

.guestbook__input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
  background-color: #dbdd90;
  padding: 4px 7px 2px 7px;
  height: 30px;
  width: 250px;
  -webkit-box-shadow: 2px 2px 10px #31004A;
          box-shadow: 2px 2px 10px #31004A;
}
.guestbook__input:not(:last-child) {
  margin: 0 0 10px 10px;
}
.guestbook__input:focus {
  border: 2px solid #31004A;
}
@media (max-width: 1024px) {
  .guestbook__input {
    width: 220px;
  }
}
@media (max-width: 768px) {
  .guestbook__input {
    display: block;
    width: 250px;
  }
  .guestbook__input:not(:last-child) {
    margin: 10px 0 10px 10px;
  }
}

.guestbook__textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
  background-color: #dbdd90;
  margin: 10px 0 0 0;
  width: 96%;
  height: 120px;
  padding: 7px 5px 2px 7px;
  resize: none;
  -webkit-box-shadow: 2px 2px 10px #31004A;
          box-shadow: 2px 2px 10px #31004A;
}
.guestbook__textarea:focus {
  border: 2px solid #31004A;
}

.guestbook__submit-wrap {
  text-align: center;
}

.guestbook__submit {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #290E37;
  background-color: #6D6F00;
  width: 170px;
  height: 35px;
  padding: 4px 0 2px 0;
  margin: 10px 0 0 0;
  text-align: center;
  cursor: pointer;
}
.guestbook__submit:hover, .guestbook__submit:focus {
  background-color: #B5B72E;
  border: 1px solid #6D6F00;
}

.footer {
  background-color: #31004A;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px 20px 20px;
}
.footer__content:not(:last-child) {
  margin: 0 30px 0 0;
}
@media (max-width: 1024px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .footer__content {
    text-align: center;
  }
}

.footer__logo {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 35px 0 0 70px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1024px) {
  .footer__logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 15px 0 0 20px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__logo {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.footer__logo-text {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.333;
  color: #B5B72E;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .footer__logo-text {
    font-size: 28px;
  }
}

.footer__map {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 0 0 0 75px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1024px) {
  .footer__map {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 20px 0 0 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 576px) {
  .footer__map {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 20px 0 0 0;
  }
}

.footer__map-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.333;
  color: #B5B72E;
}

.footer__map-item {
  margin: 5px 0 0 0;
}

.footer__map-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.333;
  color: #B5B72E;
}
.footer__map-link:hover, .footer__map-link:focus {
  text-decoration: underline;
}

.footer__contacts {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
@media (max-width: 1024px) {
  .footer__contacts {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 576px) {
  .footer__contacts {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 20px 0 0 0;
  }
}

.footer__contacts-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.333;
  color: #B5B72E;
}

.footer__contacts-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.333;
  color: #B5B72E;
  margin: 5px 0 0 0;
}

.footer__contacts-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.333;
  color: #B5B72E;
}
.footer__contacts-link:hover, .footer__contacts-link:focus {
  text-decoration: underline;
}

.footer__decor-img-1 {
  max-width: 80px;
  max-height: 130px;
  margin: 0 20px -20px 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
@media (max-width: 1024px) {
  .footer__decor-img-1 {
    max-width: 60px;
    margin: 20px 0 -40px 0;
  }
}
@media (max-width: 576px) {
  .footer__decor-img-1 {
    display: none;
  }
}