*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat-SemiBold.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.woff) format("woff"), url(../fonts/Montserrat-ExtraBold.ttf) format("ttf");
}
body {
  min-height: 100%;
  width: 100%;
  background-color: #B6B752;
}

._container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.header {
  background-color: #31004A;
}

.header__container {
  min-height: 400px;
  position: relative;
}
@media (max-width: 1280px) {
  .header__container {
    min-height: 300px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    min-height: 290px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    min-height: 210px;
  }
}
@media (max-width: 480px) {
  .header__container {
    min-height: 100px;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0 0;
}
@media (max-width: 1280px) {
  .header__content {
    padding: 25px 0 0 0;
  }
}
@media (max-width: 1024px) {
  .header__content {
    padding: 25px 0 10px 0;
  }
}
@media (max-width: 576px) {
  .header__content {
    padding: 10px 0 10px 0;
  }
}

.header__text-content {
  position: relative;
  margin: 0 0 0 117px;
  padding: 0 10px 0 0;
}
@media (max-width: 1280px) {
  .header__text-content {
    margin: 0 0 0 70px;
  }
}
@media (max-width: 1024px) {
  .header__text-content {
    margin: 0 0 0 40px;
    padding: 0 20px 0 0;
  }
}
@media (max-width: 768px) {
  .header__text-content {
    margin: 0 0 0 20px;
    padding: 0 20px 0 0;
  }
}
@media (max-width: 576px) {
  .header__text-content {
    margin: 0 0 0 10px;
    padding: 0 20px 0 0;
  }
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: #B5B72E;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .header__title {
    font-size: 52px;
  }
}
@media (max-width: 1024px) {
  .header__title {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .header__title {
    font-size: 18px;
  }
}

.header__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  color: #B5B72E;
  margin: 10px 0 0 128px;
}
@media (max-width: 1280px) {
  .header__subtitle {
    font-size: 28px;
    margin: 10px 0 0 90px;
  }
}
@media (max-width: 1024px) {
  .header__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .header__subtitle {
    font-size: 20px;
    margin: 10px 0 0 40px;
  }
}
@media (max-width: 480px) {
  .header__subtitle {
    font-size: 16px;
  }
}

.header__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #B5B72E;
  max-width: 450px;
  margin: 92px 0 0 128px;
}
@media (max-width: 1280px) {
  .header__text {
    font-size: 16px;
    margin: 70px 0 0 90px;
  }
}
@media (max-width: 1024px) {
  .header__text {
    font-size: 16px;
    max-width: 350px;
    margin: 50px 0 0 90px;
  }
}
@media (max-width: 768px) {
  .header__text {
    font-size: 14px;
    margin: 30px 0 0 90px;
  }
}
@media (max-width: 576px) {
  .header__text {
    margin: 30px 0 0 40px;
  }
}
@media (max-width: 480px) {
  .header__text {
    font-size: 12px;
    margin: 20px 0 0 40px;
  }
}

.header__img-content {
  margin: 0 105px 0 0;
}
@media (max-width: 1280px) {
  .header__img-content {
    margin: 0 80px 0 0;
  }
}
@media (max-width: 1024px) {
  .header__img-content {
    margin: 0 60px 0 0;
  }
}
@media (max-width: 768px) {
  .header__img-content {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 576px) {
  .header__img-content {
    margin: 0 5px 0 0;
  }
}
@media (max-width: 480px) {
  .header__img-content {
    display: none;
  }
}

.header__main-img {
  max-width: 240px;
}
@media (max-width: 1280px) {
  .header__main-img {
    max-width: 180px;
  }
}
@media (max-width: 1024px) {
  .header__main-img {
    max-width: 170px;
  }
}
@media (max-width: 768px) {
  .header__main-img {
    max-width: 120px;
  }
}

.header__decor-img-1 {
  position: absolute;
  max-width: 200px;
  left: 50px;
  bottom: 20px;
}
@media (max-width: 1280px) {
  .header__decor-img-1 {
    max-width: 100px;
    bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .header__decor-img-1 {
    max-width: 80px;
    bottom: 30px;
  }
}
@media (max-width: 768px) {
  .header__decor-img-1 {
    max-width: 60px;
    left: 30px;
    bottom: 30px;
  }
}
@media (max-width: 576px) {
  .header__decor-img-1 {
    max-width: 40px;
    left: 10px;
    bottom: 70px;
  }
}
@media (max-width: 480px) {
  .header__decor-img-1 {
    max-width: 40px;
    left: 10px;
    bottom: 10px;
  }
}

.header__decor-img-2 {
  position: absolute;
  max-width: 147px;
  top: -90px;
  right: -180px;
}
@media (max-width: 1280px) {
  .header__decor-img-2 {
    max-width: 120px;
    right: -100px;
  }
}
@media (max-width: 1024px) {
  .header__decor-img-2 {
    max-width: 80px;
    right: -20px;
  }
}
@media (max-width: 768px) {
  .header__decor-img-2 {
    max-width: 60px;
    top: -60px;
    right: 0px;
  }
}
@media (max-width: 480px) {
  .header__decor-img-2 {
    max-width: 50px;
  }
}

.content-list {
  text-align: center;
}

.content-list__title-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #31004A;
  display: block;
  margin: 0 0 15px 0;
}

.content-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B5B72E;
  padding: 10px 0;
}

.content-list__list {
  padding: 0 10px;
}

.content-list__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.content-list__link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #31004A;
}

.content-list__decor-img_1 {
  margin: 10px 80px 0 80px;
  width: 100px;
  height: auto;
  max-height: 100px;
}

.main-menu {
  background-color: #6D6F00;
}

.main-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
.main-menu__items:not(:last-child) {
  margin: 0 20px 0 0;
}
@media (max-width: 1280px) {
  .main-menu__items {
    padding: 15px 0;
  }
}

.main-menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.main-menu__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #31004A;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .main-menu__link {
    font-size: 18px;
  }
}

.main-menu__link:after {
  background-color: #290E37;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.main-menu__link:hover:after,
.main-menu__link:focus:after {
  width: 100%;
}

.main-page__container {
  padding: 0 0 30px 0;
}

.resume__preview {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.333;
  color: #290E37;
  padding: 20px;
}

.resume__title-container {
  text-align: center;
}

.resume__title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #290E37;
  margin: 20px 0 30px 0;
  padding: 0 0 5px 0;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
     border-image: -webkit-gradient(linear, left top, right top, from(#864AA4), color-stop(#290E37), to(#864AA4));
     border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
  border-image-slice: 1;
}

.resume-section {
  border-top: 2px solid transparent;
  -o-border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
     border-image: -webkit-gradient(linear, left top, right top, from(#864AA4), color-stop(#290E37), to(#864AA4));
     border-image: linear-gradient(to right, #864AA4, #290E37, #864AA4);
  border-image-slice: 1;
  margin: 40px 30px 80px 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-section__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #31004A;
  background-color: #B6B752;
  border: 2px solid #290E37;
  border-radius: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
  margin: -28px 0 20px 0;
  max-width: 300px;
  z-index: 5;
}

.resume-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.resume-section__item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.333;
  color: #290E37;
}
.resume-section__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.resume-section__item-field {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.333;
  color: #290E37;
  margin: 0 10px 0 0;
}

.resume-section__content_work-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.resume-section__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.resume-section__column:first-child {
  max-width: 200px;
  min-width: 200px;
  padding: 0 20px 0 0;
  text-align: center;
}
@media (max-width: 1024px) {
  .resume-section__column:first-child {
    max-width: 160px;
    min-width: 160px;
  }
}

.resume-section__date {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.333;
  color: #290E37;
}

.resume-section__date-img {
  margin: 10px 0 10px 0;
  max-width: 90px;
}

.resume-section__separator {
  margin: 20px 0;
}

.resume-section__project-img {
  float: right;
  clear: left;
  margin: 10px 10px 10px 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #7B29A4;
}

.resume-section__about-me {
  text-indent: 35px;
  line-height: 1.5;
}

.resume-section__img_float-right {
  float: right;
  clear: left;
  margin: 20px 10px 10px 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #7B29A4;
}

.resume-section__img_float-left {
  float: left;
  clear: right;
  margin: 20px 10px 10px 10px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #7B29A4;
}

.guestbook {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
  padding: 10px;
}

.guestbook__form:not(:last-child) {
  text-align: center;
}

.guestbook__input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
  padding: 4px 7px 2px 7px;
  height: 30px;
  width: 250px;
}
.guestbook__input:not(:last-child) {
  margin: 0 0 10px 10px;
}

.guestbook__textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #290E37;
  margin: 10px 0 0 0;
  width: 96%;
  height: 120px;
  padding: 7px 5px 2px 7px;
  resize: none;
}

.guestbook__submit {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #290E37;
  width: 170px;
  height: 35px;
  padding: 4px 0 2px 0;
  margin: 10px 0 0 0;
  text-align: center;
}

.guestbook__submit-wrap {
  text-align: center;
}

.footer {
  background-color: #31004A;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px 20px 20px;
}
.footer__content:not(:last-child) {
  margin: 0 30px 0 0;
}
@media (max-width: 1024px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .footer__content {
    text-align: center;
  }
}

.footer__logo {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 35px 0 0 70px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 1024px) {
  .footer__logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 15px 0 0 20px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .footer__logo {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}

.footer__logo-text {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.333;
  color: #B5B72E;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .footer__logo-text {
    font-size: 36px;
  }
}

.footer__map {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 0 0 0 75px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 1024px) {
  .footer__map {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 20px 0 0 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 576px) {
  .footer__map {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 20px 0 0 0;
  }
}

.footer__map-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.333;
  color: #B5B72E;
}

.footer__map-item {
  margin: 5px 0 0 0;
}

.footer__map-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.333;
  color: #B5B72E;
}

.footer__contacts {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
@media (max-width: 1024px) {
  .footer__contacts {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 576px) {
  .footer__contacts {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin: 20px 0 0 0;
  }
}

.footer__contacts-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.333;
  color: #B5B72E;
}

.footer__contacts-item {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.333;
  color: #B5B72E;
  margin: 5px 0 0 0;
}

.footer__contacts-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.333;
  color: #B5B72E;
}

.footer__decor-img-1 {
  max-width: 100px;
  margin: 0 0 -20px 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
@media (max-width: 1024px) {
  .footer__decor-img-1 {
    max-width: 60px;
    margin: 20px 0 -40px 0;
  }
}
@media (max-width: 576px) {
  .footer__decor-img-1 {
    display: none;
  }
}