// ---------------------- Миксин задания параметров шрифта ------------------------------
// ------ Входные параметры: (размер шрифта, ширина, межстрочный интервал, цвет) --------

@mixin font-style-mix ($size, $weight, $lh, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lh;
    color: $color;
}