.footer {
    background-color: $color-footer-bg;
}
.footer__container {
}
._container {
}
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    &:not(:last-child) {
        margin: 0 30px 0 0;
    }
    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }
    @media (max-width: 576px) {
        text-align: center;
    }
}
.footer__logo {
    flex-basis: 33%;
    margin: 35px 0 0 70px;
    order: 1;
    @media (max-width: 1024px) {
        flex-basis: 50%;
        margin: 15px 0 0 20px;
        text-align: center;
    }
    @media (max-width: 576px) {
        flex-basis: 90%;
    }
}
.footer__logo-text {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(32px, 700, 1.333, $color-green-light);
    text-transform: uppercase;
    @media (max-width: 1024px) {
        font-size: 28px;
    }
}
.footer__map {
    flex-basis: 33%;
    margin: 0 0 0 75px;
    order: 2;
    @media (max-width: 1024px) {
        flex-basis: 50%;
        margin: 20px 0 0 20px;
        order: 3;
    }
    @media (max-width: 576px) {
        flex-basis: 90%;
        margin: 20px 0 0 0;
    }
}
.footer__map-list {
}
.footer__map-title {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 600, 1.333, $color-green-light);
}
.footer__map-item {
    margin: 5px 0 0 0;
}
.footer__map-link {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.333, $color-green-light);
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
.footer__contacts {
    order: 3;
    flex-basis: 33%;
    @media (max-width: 1024px) {
        flex-basis: 45%;
        order: 2;
    }
    @media (max-width: 576px) {
        flex-basis: 90%;
        margin: 20px 0 0 0;
    }
}
.footer__contacts-list {
}
.footer__contacts-title {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 600, 1.333, $color-green-light);
}
.footer__contacts-item {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.333, $color-green-light);
    margin: 5px 0 0 0;
    
}
.footer__contacts-link {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.333, $color-green-light);
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.footer__decor-img-1 {
    max-width: 80px;
    max-height: 130px;
    margin: 0 20px -20px 0;
    order: 4;
    @media (max-width: 1024px) {
        max-width: 60px;
        margin: 20px 0 -40px 0;
    }
    @media (max-width: 576px) {
        display: none;
    }
}