// ---------------------------- Стили формы обратной связи -------------------------

.guestbook {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.5, $color-violet-hard);
    padding: 10px;
}
.guestbook__form {
    &:not(:last-child) {
        text-align: center;
    }
}
.guestbook__input {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.5, $color-violet-hard);
    background-color: #dbdd90;
    padding: 4px 7px 2px 7px;
    height: 30px;
    width: 250px;
    box-shadow: 2px 2px 10px $color-violet-medium;
    &:not(:last-child) {
        margin: 0 0 10px 10px;
    }
    &:focus {
        border: 2px solid $color-violet-medium;
    }
    @media (max-width: 1024px) {
        width: 220px;
    }
    @media (max-width: 768px) {
        display: block;
        width: 250px;
        &:not(:last-child) {
            margin: 10px 0 10px 10px;
        }
    }
}
.guestbook__textarea {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.5, $color-violet-hard);
    background-color: #dbdd90;
    margin: 10px 0 0 0;
    width: 96%;
    height: 120px;
    padding: 7px 5px 2px 7px;
    resize: none;
    box-shadow: 2px 2px 10px $color-violet-medium;
    &:focus {
        border: 2px solid $color-violet-medium;
    }
}
.guestbook__submit-wrap {
    text-align: center;
}
.guestbook__submit {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 600, 1.5, $color-violet-hard); 
    background-color: $color-green-medium;   
    width: 170px;
    height: 35px;
    padding: 4px 0 2px 0;
    margin: 10px 0 0 0;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $color-green-light;
        border: 1px solid $color-green-medium;
    }
}