// ----------------------- ГЛАВНОЕ МЕНЮ (и бургер меню) -----------------------
.main-menu {
    background-color: $color-main-menu-bg;
}
.main-menu__container {
}
.main-menu__items {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    &:not(:last-child) {
        margin: 0 20px 0 0;
    }
    @media (max-width: 1280px) {
        padding: 15px 0;
    }
    @media (max-width: 576px) {
        display: none;
        padding: 0;
    }
}
.main-menu__container_lowdef {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-menu__link-wrap_lowdef {
    display: flex;
    align-items: center;
    padding: 5px 0;
    &:hover {
        cursor: pointer;
    }
}
.main-menu__link_lowdef {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(16px, 600, 1, $color-text-violet-menu);
    text-transform: uppercase;
    display: none;
    @media (max-width: 576px) {
        display: inline-block;
    }
}
.main-menu__link-img_lowdef {
    max-width: 20px;
    margin: 0 10px 0 0;
    display: none;
    @media (max-width: 576px) {
        display: inline-block;
    }
}
.main-menu__list_lowdef {
    padding: 10px;
    display: none;
    @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.main-menu__item {
    &:not(:last-child) {
        margin: 0 40px 0 0;
    }
    @media (max-width: 576px) {
        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }
}
.main-menu__link {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(18px, 600, 1, $color-text-violet-menu);
    text-transform: uppercase;
    cursor: pointer;
    @media (max-width: 1280px) {
        font-size: 18px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
    }
}

.main-menu__link:after {
    background-color: $color-violet-hard;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}
.main-menu__link:hover:after,
.main-menu__link:focus:after {
    width: 100%;
}

