.main-page {
}
.main-page__container {
    padding: 0 0 30px 0;
}
._container {
}
.main-page__resume {
}
.resume {
}
.resume__preview-title-img-wrapper {
    margin: 10px 0 0 0;
    text-align: center;
}
.resume__preview-title-img {
    max-width: 200px;
}
.resume__preview {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 500, 1.333, $color-violet-hard);
    padding: 10px 40px 20px 40px;
}
.resume__title-container {
    text-align: center;
}
.resume__title {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(36px, 700, 1, $color-violet-hard);
    margin: 20px 0 30px 0;
    padding: 0 0 5px 0;
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, $color-violet-extralight, $color-violet-hard, $color-violet-extralight);
    border-image-slice: 1;
}
.resume__resume-section {
}
.resume-section {
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, $color-violet-extralight, $color-violet-hard, $color-violet-extralight);
    border-image-slice: 1;
    margin: 40px 30px 80px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:last-child {
        margin: 40px 30px 30px 30px;
    }
    @media (max-width: 768px) {
        margin: 40px 10px 60px 10px;
        &:last-child {
            margin: 40px 10px 30px 10px;
        }
    }
}
.resume-section__title {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(18px, 600, 1, $color-violet-medium);
    background-color: $color-body-bg;
    border: 2px solid $color-violet-hard;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin: -28px 0 20px 0;
    max-width: 300px;
    z-index: 5;
}
.resume-section__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.resume-section__item {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 400, 1.5, $color-violet-hard);
    &:not(:last-child) {
        margin: 0 0 10px 0;
    }
}
.resume-section__item_break-all {
    word-break: break-all;
}
.resume-section__item-field {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(14px, 600, 1.333, $color-violet-hard);
    margin: 0 10px 0 0;
}

.resume-section__content_work-exp {
    display: flex;
    flex-direction: row;
    @media (max-width: 576px) {
        flex-direction: column;
    }
}
.resume-section__column {
    &:first-child {
        max-width: 200px;
        min-width: 200px;
        padding: 0 20px 0 0;
        text-align: center;
    }
    flex: 1 1 auto;
    @media (max-width: 1024px) {
        &:first-child {
            max-width: 160px;
            min-width: 160px;
        }
    }
    @media (max-width: 768px) {
        &:first-child {
            max-width: 130px;
            min-width: 130px;
        }
    }
    @media (max-width: 576px) {
        &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-width: 100%;
            padding: 0;
        }
    }
}
.resume-section__date {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(16px, 600, 1.333, $color-violet-hard);
    @media (max-width: 768px) {
        font-size: 14px;
    }
    @media (max-width: 576px) {
            display: none;
    }
}
.resume-section__date_lowdef {
    display: none;
    @media (max-width: 576px) {
        display: block;
    }
}
.resume-section__date-img {
    margin: 10px 0 10px 0;
    max-width: 90px;
}

.resume-section__subtitle {
    font-family: 'Montserrat', sans-serif;
    @include font-style-mix(16px, 600, 1.333, $color-violet-hard);
}
.resume-section__separator {
    margin: 20px 0;
}

.resume-section__project-img {
    float: right;
    clear: left;
    margin: 10px 10px 10px 10px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    border: 1px solid $color-violet-light;
    @media (max-width: 1024px) {
        float: none;
        margin: 0 0 10px 0;
    }
    @media (max-width: 768px) {
        max-width: 250px;
        max-height: 250px;
    }
}

.resume-section__about-me {
    text-indent: 35px;
    line-height: 1.5;
}

.resume-section__img_float-right {
    float: right;
    clear: left;
    margin: 20px 10px 10px 10px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    border: 1px solid $color-violet-light;
    @media (max-width: 768px) {
        float: none;
        display: block;
        margin: 0 10px 0 10px;
    }
    @media (max-width: 480px) {
        max-width: 250px;
        max-height: 250px;
    }
}
.resume-section__img_float-left {
    float: left;
    clear: right;
    margin: 20px 10px 10px 10px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    border: 1px solid $color-violet-light;
    @media (max-width: 768px) {
        float: none;
        display: block;
        margin: 10px 10px 10px 10px;
    }
}